<ion-view title="Olá" id="page3" class=" " cache-view="false">
    <div class="bar bar-subheader">
        <div class="item range">Distância
            <input ng-model="data.distancia" type="range" value="50" min="1" max="1000">
            <label>{{data.distancia}} km</label>
        </div>
        <div class=" button-bar ">
            <button id="buscaLista" class=" button button-positive button-block icon ion-android-menu " ng-click="buscarLista()" ></button>
            <button id="buscaMapa" class=" button button-positive  button-block icon ion-map " ng-click="buscarMapa()"></button>
        </div>
    </div>
    <ion-content padding="true" class="has-subheader" id="boxLista" ng-show="box=='lista'">
        <ion-item class="item-avatar item-icon-right  " ng-repeat="item in searchItens" item="item" id="buscaLista" ng-click="show({{item}})">
            <img src="{{item.Foto}}" />
            <h2>{{item.Nome}}</h2>
            <p>{{item.Distancia}} Km</p>
            <i class="icon ion-person-stalker positive" ng-show="item.friends==true"></i>
        </ion-item>
    </ion-content>
    <ion-content padding="true" class="has-subheader" id="boxMapa" ng-show="box=='mapa'">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>