<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="br.com.ibiatec.ola" version="0.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Olá</name>
  <description>
        Olá
    </description>
  <author email="contato@ibiatec.com.br" href="http://www.ibiatec.com.br/">IBIATEC</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="*" />
  <allow-intent href="*" />
  <preference name="Orientation" value="portrait" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="3000" />  
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="FadeSplashScreen" value="false"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference  name="phonegap-version"  value= "3.7.0"  />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-camera" spec="2.2.0" />
  <plugin name="cordova-plugin-console" spec="1.0.3" />
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <plugin name="cordova-plugin-splashscreen" spec="4.0.0" />
  <plugin name="cordova-plugin-statusbar" spec="2.1.3" />
  <plugin name="org.apache.cordova.geolocation"  source="pgb" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="res/icon.png"/>
    <splash src="res/splash.png"/>
  </platform>
  <platform name="android">
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png"/>
  </platform>
  <platform name="browser">
    <preference name="SplashScreen" value="resources/splash.png"/>
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png"/>
  </platform>
</widget>